
body{
    background-color: #f2e5d9;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1 {
    display: flex;
    background-color: #efdccc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    width: 1900px;
    height: 90px; 
    align-items: center;
    justify-content: center;
}



h2 {
    justify-content: center;
    display: flex;
    font-style: italic;
    font-size: 30px;
}

figure img {
    width: 400px;
    height: 400px;
    justify-content: center;
    display: flex;
}

.sinopse {
    display: flex;
    width: 1250px;
    justify-content: center;
}

.ladoalado {
    display: flex;
    justify-content: center;
}

.mortes{
    background-color: thistle;
    width: 300px;

}

.motivos {
    background-color: turquoise;
    width: 300px;
}

input {
    width: 300px;
    font-size: 25px;
    border: 1px solid wheat;
}